.main {
    max-width: 60% !important;
    margin-left: 20% !important;
}
.side-bar {
    width: 20% !important;
}
code {
    line-height: 1.0 !important;
}
.c1 {
    color: #e6c16a !important;
}
.na {
    color: #e6e6e6 !important;
}
.n {
    color: #e6e6e6 !important;
}
.mi {
    color: #41caf4 !important;
}
.s {
    color: #00c48d !important;
}